.icon {
  color: #ffdbc5;
  font-size: 18px;
}

.topContainer {
  padding-top: 80px;
}

.mainTitle {
  font-size: 28px;
}

.searchContainer {
  position: relative;
  margin-right: 20px;

  .searchInput {
    padding-right: 70px;
  }

  .searchInput::placeholder {
    color: #8a8a8a;
  }

  .searchInput:focus {
    border-color: #fccfb2;
    box-shadow: 0 0 0 0.25rem rgba(255, 188, 173, 0.25);
  }

  .searchIcon,
  .clearIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    cursor: pointer;
    color: #fccfb2;
  }
  .searchIcon {
    right: 20px;
  }
  .clearIcon {
    right: 50px;
    
  }
  .disabled{
    color: #8a8a8a;
    cursor: default;
  }
}

.noResults {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
}

.myBtn {
  background: #ffdbc5;
  &:hover {
    background: #fccfb2;
    color: #000;
  }
  &:active {
    background: #fccfb2 !important;
    color: #000 !important;
  }
}

.navTab {
  .navLink {
    border: 1px solid #fff;
    color: #ffffff;
    font-weight: bold;
  }
  .navLinkActive {
    border: 1px #ffdbc5 solid;
    background: #fccfb2;
    color: #333;
  }
}

.showBtn {
  background: #ff8674;
  &:hover {
    background: #fa7d69;
  }
  &:active {
    background: #fa7d69 !important;
  }
}

.todolist {
  display: flex;
  align-items: center;
  background: #393939bd;
  border: 1px solid #535353;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;

  .checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #ff8674;
    &:focus {
      border-color: #fccfb2;
      box-shadow: 0 0 0 0.25rem rgba(255, 188, 173, 0.25);
    }
  }

  .taskContent {
    .title,
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .description {
      color: #fffbf9;
      margin-top: 5px;
    }
    .createdTime {
      margin-top: 15px;
    }
    .createdTime,
    .updateTime {
      font-size: 12px;
      color: #c4c2c2;
    }
  }

  .status,
  .statusComplete {
    font-weight: bold;
    width: 100px;
    padding: 5px;
    text-align: center;
  }

  .status {
    background: #ff8674;
  }
  .statusComplete {
    background: #597c93;
  }

  .controlContainer {
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    .controlIcon:hover {
      color: #fccfb2;
    }
  }
}

.textarea {
  min-height: 100px;
  max-height: 150px;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  .mainControl {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .searchContainer {
    width: 40%;
  }
}
